/* styles/tablero.css */

.tablero-container {
    display: flex;
    height: 100vh;
    background-color: #2C2C2C;
    color: white;
}

/* Inventory styles */
.inventory {
    width: 20%;
    background-color: #1c1c1c;
    padding: 20px;
    box-sizing: border-box;
}

.inventory h2 {
    font-family: 'Uncial Antiqua', cursive;
    color: #DAA520;
}

/* Matrix container styles */
.matrix-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.matrix-container::before {
    content: "";
    background-image: url('../assets/tablero-image.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 25px;
}

/* Matrix styles */
.matrix {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    position: relative;
    z-index: 1;
}

.matrix-row {
    display: contents;
}

.matrix-cell {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid white;
    box-sizing: border-box;
}

.matrix-cell img {
    max-width: 100%;
    max-height: 100%;
}

.controls {
    text-align: center;
    margin-top: 20px;
    width: 10%;
    align-items: center;
}

.controls button {
    padding: 10px 20px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #660000;
}

.controls button:active {
    background-color: #4B0000;
}
